body{
    margin: 0%;
    
}
/*начало header*/
.header{
    margin-top: 0%;
    width: 100%;
    height: 140px;
    background: #4E4E4E;
}
.lesson{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.size_l{
    margin: 0%;
    font-size: 35px;
    font-weight: bold;
}
.header__menu{
display: flex;
justify-content:space-around;
padding-left: 300px;
padding-right: 300px;
}
.style_menu{
    font-family:Montserrat;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 40px;
}
/*конец header*/
/*начало новостей*/
.container{
    height: 600px;
    background-image: url(../images/image\ 1.png);
    background-size: 100% ;
    
}
/*Новости о природе*/
.subtitle_container{
    text-align: center;
    padding-top: 100px;
}
.style_subtitle{
    position: absolute;
width: 889px;
height: 88px;
left: 300px;
top: 189px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 88px;
}
/*текст новостей*/
.text_subtitle{
    position: absolute;
width: 872px;
height: 144px;
left: 339px;
top: 294px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
}
/*кнопка подробнее*/
.button_style1{
    position: absolute;
width: 150px;
height: 50px;
left: 339px;
top: 500px;
background: #B5DA4E;
border-radius: 73px;
border-color: #B5DA4E;

}
.style_text_button{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
/*информация*/
.info_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
/*информация*/
.info{
    text-align: center;
}
.style_info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    padding-top: 40px;
}
/*элемент 1*/
.element1{
    border: 1px solid #E7E7E7;
box-sizing: border-box;
border-radius: 50px;
width: 350px;
height: 400px;
}
.text_element1 p,.text_element2 p,.text_element3 p{
    font-size: 20px;
}

.img1{
    padding-left: 37%;
    padding-top: 30px;
}
.text_element1{
    padding-top: 10px;
    padding-left: 40px;
}
.button_element1{
background: #C4C4C4;
border-radius: 50px;
width: 161px;
height: 48px;
position: relative;
top: 15%;
margin-left: 90px;
margin-top: 20px;
}
.style_button_element1{
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*элемент2*/
.element2{
    border: 1px solid #E7E7E7;
box-sizing: border-box;
border-radius: 50px;
width: 350px;
height: 400px;
}
.img2{
    padding-left: 37%;
    padding-top: 30px;
}
.text_element2{
    padding-top: 10px;
    padding-left: 40px;
}
.button_element2{
background: #C4C4C4;
border-radius: 50px;
position: relative;
top: 15%;
width: 161px;
height: 48px;
margin-left: 90px;
margin-top: 20px;
}
.style_button_element2{
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*элемент3*/
.element3{
    border: 1px solid #E7E7E7;
box-sizing: border-box;
border-radius: 50px;
width: 350px;
height: 400px;
}
.img3{
    padding-left: 37%;
    padding-top: 30px;
}
.text_element3{
    padding-top: 10px;
    padding-left: 40px;
}
.button_element3{
background: #C4C4C4;
border-radius: 50px;
width: 161px;
height: 48px;
margin-left: 90px;
margin-top: 20px;
}
.style_button_element3{
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}





